---
import { ScrollIndicator } from '@/components/Atoms/App';
import { Navigation } from '@/components/Molecules/App';
---

<header>
  <div>
    <div>
      <Navigation />
    </div>
  </div>
  <ScrollIndicator client:only />
</header>

<style>
  header {
    top: 0;
    position: sticky;
    display: none;
  }

  header > div:first-of-type {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 50px;
    border-bottom: 1px solid #c0c0c0;
  }

  div > div {
    width: 100%;
    max-width: 1368px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 960px) {
    header {
      display: block;
      z-index: 10;
    }
  }
</style>
