---
import { NavButton } from '@/components/Atoms/App';
import { Navigation, MobileNav } from '@/components/Molecules/App';
---

<header>
  <div>
    <NavButton />
    <Navigation />
  </div>
</header>
<MobileNav />

<style>
  header {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 50px;
    /* opacity: 0.8; */
  }

  header > div {
    width: 100%;
    max-width: 1368px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
</style>
