.header {
  top: 0;
  position: sticky;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0px 0px 24px 24px;
  background-color: #fff;
}

.open {
  border-bottom-right-radius: 0px;
}

.modal {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #d5c3aa;
  animation: fadeIn 0.6s ease-in-out;
  border-radius: 0px 0px 24px 24px;
  z-index: 10;
}

.modal > nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 16px;
}

.modal > nav > a {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .header {
    display: none;
  }

  .modal {
    display: none;
  }
}
