.header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.header > div:first-of-type {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 50px;
  border-bottom: 1px solid #c0c0c0;
}

header > div > div {
  width: 100%;
  max-width: 1368px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50px;
  z-index: 1;
  background-color: #d5c3aa;
  animation: fadeIn 0.6s ease-in-out;
  z-index: 10;
}

.modal > nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 16px;
}

.modal > nav > a {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 960px) {
  header {
    display: none;
  }

  .modal {
    display: none;
  }
}
