---
import Layout from '../layouts/Layout.astro';
import {
  TextTile,
  About,
  CardList,
  BoxTiles,
  Procedure,
} from '@/components/Organisms/Home';
---

<Layout title='Welcome to Astro.'>
  <main>
    <div></div>
    <TextTile
      title='Welcome to my homepage'
      text1='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
      text2='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
    />
    <CardList />
    <TextTile
      title='About Me'
      text1='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
      text2='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
    />
    <About
      description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
    />
    <Procedure
      leftTitle='Your appointment'
      leftText='Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius ad harum totam explicabo saepe quo, recusandae expedita ab aliquid debitis, quisquam consectetur sunt beatae. Impedit iure placeat expedita obcaecati rerum!'
      title1='Step 1'
      text1='Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius ad harum totam explicabo saepe quo, recusandae expedita ab aliquid debitis, quisquam consectetur sunt beatae. Impedit iure placeat expedita obcaecati rerum!'
      title2='Step 2'
      text2='Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius ad harum totam explicabo saepe quo, recusandae expedita ab aliquid debitis, quisquam consectetur sunt beatae. Impedit iure placeat expedita obcaecati rerum!'
      title3='Step 3'
      text3='Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius ad harum totam explicabo saepe quo, recusandae expedita ab aliquid debitis, quisquam consectetur sunt beatae. Impedit iure placeat expedita obcaecati rerum!'
    />
    <TextTile
      title='My Services'
      text1='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
      text2='Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt sint modi quidem fuga, eius maiores delectus impedit dolores est voluptas optio. Id nulla tempora expedita necessitatibus sunt error culpa.'
    />
    <BoxTiles />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 236px;
  }
  div {
    width: 100%;
    max-width: 1368px;
    height: 584px;
    background-color: #c0c0c0;
  }
</style>
