<ul>
  <li>
    <div></div>
  </li>
  <li>
    <div></div>
  </li>
  <li>
    <div></div>
  </li>
  <li>
    <div></div>
  </li>
</ul>

<style>
  ul {
    all: unset;
    list-style: none;
    width: 100%;
    display: flex;
    gap: 8px;
    flex-flow: wrap;
    justify-content: center;
  }

  div {
    width: 335px;
    height: 184px;
    background-color: #d5c3aa;
    border-radius: 16px;
  }
</style>
