---
interface Props {
  title: string;
  text1: string;
  text2: string;
}

const { title, text1, text2 } = Astro.props;
---

<div class='intro'>
  <div class='inner'>
    <h1>{title}</h1>
    <p>
      {text1}
    </p>
    <p>
      {text2}
    </p>
  </div>
</div>

<style>
  div:first-of-type {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

  div:last-of-type {
    max-width: 640px;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    color: #333;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 32px;
    }
  }
</style>
