---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class='link-card'>
  <a href={href}>
  </a>
</li>
<style>
  a{
    all: unset
  }
  .link-card {
    list-style: none;
    width: 100%;
    max-width: 670px;
    height: 340px;
    background-color:#c0c0c0;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 24px;
  }

  li{
    list
  }
</style>
