<div id='nav' class='mobile-nav'>
  <div>
    <nav>
      <a href='/'>Home</a>
      <a href='/about'>About</a>
      <a href='/'>Services</a>
    </nav>
  </div>

  <style>
    .mobile-nav {
      position: fixed;
      background-color: #c0c0c0;
      top: 50px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: all 0.6s;
      &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
      & > div {
        position: absolute;
        left: 5%;
      }
      nav {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
      }

      a {
        all: unset;
        color: #fff;
      }
    }
  </style>
</div>
