<nav class='navbar'>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/'>Services</a>
</nav>

<style>
  .navbar {
    width: 100%;
    display: none;
    justify-content: space-evenly;
  }

  a {
    all: unset;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #c0c0c0;
    text-transform: uppercase;
    padding-left: 2px;
    border-bottom: 3px solid transparent;
    transition: 0.6s;
  }

  a:hover {
    color: #333;
    border-color: #333;
    cursor: pointer;
    transition-property: border-color;
  }

  @media (min-width: 960px) {
    .navbar {
      display: flex;
    }
  }
</style>
